@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.Section>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console


<div id="Items-@Dnn.ModuleContext.ModuleId">

    <h1>
        WokPicker Modul
    </h1>


    <button class="btn btn-primary" onclick=@Url.Action("WokPicker", "HotCakes")>Indítás</button>
    <button class="btn btn-secondary">Tudnivalók</button>

</div>


