@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.Settings>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console


<div id="Items-@Dnn.ModuleContext.ModuleId">

    <h1>
        WokPicker Modul
    </h1>


    <button class="btn btn-primary" onclick=@Url.Action("Index", "Hotcakes")>Indítás</button>
    <button class="btn btn-secondary" onclick=@Url.Action("Index", "Hotcakes")>Tudnivalók</button>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const primaryButton = document.querySelector(".btn-primary");
        const secondaryButton = document.querySelector(".btn-secondary");

        primaryButton.addEventListener("click", function () {
            @{ 
               ViewBag.proceed = true;
            }
        });

        secondaryButton.addEventListener("click", function () {
            @{
                ViewBag.proceed = false;
            }
        });
    });



</script>
