@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<DNN.WokPickerDNN.YounglingSlayer.WokPicker.Models.Settings>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers
@using System.Linq
@using Dnn.Modules.Console


<div id="Items-@Dnn.ModuleContext.ModuleId">

    <h1>
        Modul tudnivalók
    </h1>
    <h2>
        Ide jöhet pár hasznos tudnivaló a modul használatával kapcsolatban.
    </h2>


    <a class="btn btn-primary" href=@Url.Action("WokPicker", "Hotcakes")>Indítás</a>
    <a class="btn btn-secondary" href=@Url.Action("Index", "Hotcakes")>Vissza</a>

</div>

