
div.WokPicker_card {
    align-self: stretch;
    fill: #000;
    background-color: #000;
    width: 20vw;
    height: 50vh;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div.WokPicker_card.disabled{
    fill: #3e3d3d;
    background-color: #3e3d3d;

}




    div.WokPicker_card.selected {
        box-shadow: inset 0 0 0px 8px #FFE81F;

    }
    div.WokPicker_card.selected p {
        color: #FFE81F;
    }



div.WokPicker_Img {
    max-height: 70%;
    width: 90%;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    margin-right: 16px;

}


div.WokPicker_Img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 !important;
    padding-right: 0 !important;
    border-radius: 16px;
    user-select: none;
    pointer-events: none;
}

p.WokPicker_card_title{
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}


div.WokPicker_card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}